

header{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: space-evenly;
  }

  .cita{
    text-align:center;
    font-size: 15px;
  }

  body {
    background-color: rgb(152, 182, 182);

  }

  footer{
    margin-top: 50px;
    display:flex;
    justify-content: right;

  }

  div{
    display:flex;
    flex-direction:column-reverse;
    justify-content: flex-start;
  }